@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50;
}
.__scroll-hidden::-webkit-scrollbar {
  display: none;
}
* {
  box-sizing: border-box;
}
.__animate-skeleton {
  animation: skeleton-animation 1s alternate infinite forwards ease-in-out;
}
@keyframes skeleton-animation {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.__input {
  @apply bg-gray-200 px-3 py-3 rounded-md resize-none outline-none focus:border-red-500 border;
}
